html, body, #app {
  margin: 0;
  height: 100%;
  overflow: hidden
}

.buttons {
  position: absolute;
  top: env(safe-area-inset-top);
  left: env(safe-area-inset-left);
  width: 27px;
  height: 56px;
  border-right: 1px solid #666;
  background-color: #222;
  opacity: .8;
}

.back-button {
  margin-top: 13px;
  cursor: pointer;
  color: #ccc;
  padding: 6px;
}

.radar {
  position: absolute;
  top: env(safe-area-inset-top);
  right: env(safe-area-inset-right);
  width: 100px;
  height: 100px;
}
